#intro {
  border: 2px solid grey;
  border-radius: 10px;
  border-top: 15px solid deepskyblue;
}

#intro > p {
  color: red;
}
span {
  color: red;
}

.fillings {
  border: 1px solid black;
  border-radius: 20px;
  height: 155px;

  padding: 40px;
}
input {
  border: none;
  border-bottom: 1px solid black;
  width: 50%;
  margin-top: 40px;
}

.fillings > .checkbox > input {
  margin-left: 5px;
  width: 25px;
}
.fillings > .checkbox > p {
  margin-left: 50px;
}
.fillings > .checkbox > label {
  margin-top: -34px;
}

button {
  border-radius: 5px;
  width: 9%;
  height: 5vh;
}

progress {
  margin-left: 400px;
background: chartreuse;
}
